In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [102]:
import sklearn
from sklearn.model_selection import train_test_split # divide dados de treino / teste
from sklearn.preprocessing import StandardScaler # Padronização
from sklearn.linear_model import LinearRegression # Regressão linear
from sklearn.linear_model import Ridge # Regressão Ridge
from sklearn.linear_model import Lasso # Regressão Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, explained_variance_score # Métricas para regressão
%matplotlib inline
from statsmodels.tsa.statespace.sarimax import SARIMAX

#### IMPORTANDO O DF ALIMENTAÇÃO

In [168]:
df_alimentacao = pd.read_csv("../data/dados_para_processamento/df_alimentacao.csv", sep =',', encoding = 'utf-8')
df_alimentacao = df_alimentacao[df_alimentacao['Data_Venda'] != '2020-01']

In [169]:
df_alimentacao.sample(2)

                       Produto Data_Venda  Quantidade_Comprada
4   Cabo de Carregamento Turbo    2019-05                 2075
23  Cabo de Carregamento USB-C    2019-11                 2256

In [170]:
df_alimentacao['Produto'].value_counts()

Produto
Cabo de Carregamento Turbo    12
Cabo de Carregamento USB-C    12
Pilhas AA (4 Unidades)        12
Pilhas AAA (4 Unidades)       12
Name: count, dtype: int64

In [171]:
# Transformando valores de produtos em Dummies

df_alimentacao = pd.get_dummies(df_alimentacao, columns=['Produto'], drop_first=False)

In [172]:
df_alimentacao.sample(5)

,Data_Venda,Quantidade_Comprada,Produto_Cabo de Carregamento Turbo,Produto_Cabo de Carregamento USB-C,Produto_Pilhas AA (4 Unidades),Produto_Pilhas AAA (4 Unidades)
28,2019-03,2216,False,False,True,False
34,2019-09,1771,False,False,True,False
9,2019-10,2572,True,False,False,False
17,2019-05,2068,False,True,False,False
21,2019-09,1594,False,True,False,False

In [173]:
variaveis_processadas = ['Produto_Cabo de Carregamento USB-C', 'Produto_Cabo de Carregamento Turbo', 'Produto_Pilhas AA (4 Unidades)', 'Produto_Pilhas AAA (4 Unidades)']

for x in variaveis_processadas:
    df_alimentacao[x] = np.where(df_alimentacao[x] == True, 1,0)

In [179]:
df_alimentacao.sort_values(by = 'Data_Venda',ascending= True )

,Data_Venda,Quantidade_Comprada,Produto_Cabo de Carregamento Turbo,Produto_Cabo de Carregamento USB-C,Produto_Pilhas AA (4 Unidades),Produto_Pilhas AAA (4 Unidades)
0,2019-01,1149,1,0,0,0
26,2019-01,1424,0,0,1,0
38,2019-01,1595,0,0,0,1
13,2019-01,1283,0,1,0,0
1,2019-02,1499,1,0,0,0
27,2019-02,1735,0,0,1,0
14,2019-02,1654,0,1,0,0
39,2019-02,1972,0,0,0,1
28,2019-03,2216,0,0,1,0
40,2019-03,2479,0,0,0,1
15,2019-03,1944,0,1,0,0
2,2019-03,1873,1,0,0,0
3,2019-04,2373,1,0,0,0
29,2019-04,2821,0,0,1,0
16,2019-04,2269,0,1,0,0
41,2019-04,2939,0,0,0,1
42,2019-05,2927,0,0,0,1
4,2019-05,2075,1,0,0,0
30,2019-05,2384,0,0,1,0
17,2019-05,2068,0,1,0,0
18,2019-06,1675,0,1,0,0
31,2019-06,2096,0,0,1,0
43,2019-06,2162,0,0,0,1
5,2019-06,1687,1,0,0,0
44,2019-07,2365,0,0,0,1
32,2019-07,2071,0,0,1,0
6,2019-07,1811,1,0,0,0
19,2019-07,1849,0,1,0,0
33,2019-08,1828,0,0,1,0
45,2019-08,2021,0,0,0,1
20,2019-08,1462,0,1,0,0
7,2019-08,1443,1,0,0,0
21,2019-09,1594,0,1,0,0
34,2019-09,1771,0,0,1,0
46,2019-09,1923,0,0,0,1
8,2019-09,1432,1,0,0,0
35,2019-10,2940,0,0,1,0
47,2019-10,3363,0,0,0,1
9,2019-10,2572,1,0,0,0
22,2019-10,2667,0,1,0,0
23,2019-11,2256,0,1,0,0
36,2019-11,2625,0,0,1,0
10,2019-11,2210,1,0,0,0
48,2019-11,3025,0,0,0,1
24,2019-12,3250,0,1,0,0
11,2019-12,3087,1,0,0,0
37,2019-12,3724,0,0,1,0
49,2019-12,4241,0,0,0,1

In [177]:
df_alimentacao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Data_Venda                          48 non-null     object
 1   Quantidade_Comprada                 48 non-null     int64
 2   Produto_Cabo de Carregamento Turbo  48 non-null     int32
 3   Produto_Cabo de Carregamento USB-C  48 non-null     int32
 4   Produto_Pilhas AA (4 Unidades)      48 non-null     int32
 5   Produto_Pilhas AAA (4 Unidades)     48 non-null     int32
dtypes: int32(4), int64(1), object(1)
memory usage: 1.9+ KB